{"openapi":"3.1.0","info":{"title":"ConstructorKnowledgeModel","version":"0.1.0"},"servers":[{"url":"https://constructor.app/api/platform-kmapi","description":"Knowledge model API"}],"paths":{"/alive":{"get":{"summary":"Respond if authorized, do not respond on any error","description":"Respond if ok, do not respond on any error","operationId":"get_alive_response","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorSchema"},"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}}}}},"421":{"description":"User is banned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorSchema"},"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}}}}}}}}},"/v1/knowledge-models":{"get":{"summary":"List knowledge models","description":"List knowledge models owned by user making the request.","operationId":"list_kmapi_knowledge_models","parameters":[{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"User is banned","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"summary":"Creates a new knowledge model.","description":"This endpoint initializes a new knowledge model for organizing and managing structured information.","operationId":"create_kmapi_knowledge_model","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}":{"delete":{"summary":"Delete knowledge model","description":"Delete knowledge model by id.","operationId":"delete_kmapi_knowledge_model","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"summary":"Get knowledge model","description":"Get knowledge model by id.","operationId":"get_kmapi_knowledge_model","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"summary":"Update knowledge model","description":"Update knowledge model by id","operationId":"patch_knowledge_model","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelPatch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/settings":{"get":{"summary":"Get knowledge model settings","description":"Get knowledge model settings by its id","operationId":"get_knowledge_model_settings","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelSettingsSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"summary":"Update knowledge model settings","description":"Update knowledge model settings by its id","operationId":"patch_knowledge_model_settings","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelSettingsPatch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelSettingsSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chat-sessions":{"post":{"summary":"Create new chat session via API","description":"Create a new chat session via API","operationId":"create_chat_session_api","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatSessionCreateAPI"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatSessionSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"LLM not found":{"summary":"LLM specified in request does not exist.","value":{"details":{"msg":"LLM not found","error_code":190010}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"summary":"Get all chat sessions for given Knowledge Model","description":"Get all chat sessions linked to a knowledge model","operationId":"list_chat_sessions","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatSessionListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chat-sessions/{chat_session_id}":{"get":{"summary":"Get chat session","description":"Retrieve a chat session information by id","operationId":"get_chat_session","parameters":[{"name":"chat_session_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Session Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatSessionSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model chat session not found":{"summary":"Knowledge model chat session specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat session not found","error_code":190002}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"summary":"Delete chat session","description":"Delete chat session.","operationId":"delete_chat_session","parameters":[{"name":"chat_session_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Session Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model chat session not found":{"summary":"Knowledge model chat session specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat session not found","error_code":190002}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"summary":"Patch chat session","description":"Patch chat session by id.","operationId":"patch_chat_session","parameters":[{"name":"chat_session_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Session Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessagePatch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatSessionSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model chat session not found":{"summary":"Knowledge model chat session specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat session not found","error_code":190002}}},"Knowledge model file not found":{"summary":"Knowledge model file specified in request does not exist.","value":{"details":{"msg":"Knowledge model file not found","error_code":190006}}},"Chat session patch not allowed":{"summary":"The chat session has messages.","value":{"details":{"msg":"Chat session patch not allowed","error_code":190009}}},"LLM not found":{"summary":"LLM specified in request does not exist.","value":{"details":{"msg":"LLM not found","error_code":190010}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chat-sessions/{chat_session_id}/messages":{"post":{"summary":"Create new chat message","description":"Create a new chat message and start reply generation","operationId":"create_chat_message","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"chat_session_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Session Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageUserSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model chat session not found":{"summary":"Knowledge model chat session specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat session not found","error_code":190002}}},"LLM not found":{"summary":"LLM specified in request does not exist.","value":{"details":{"msg":"LLM not found","error_code":190010}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"summary":"Get all messages from chat session","description":"Get all messages from chat session","operationId":"get_chat_messages_list","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"chat_session_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Session Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model chat session not found":{"summary":"Knowledge model chat session specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat session not found","error_code":190002}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chat-sessions/{chat_session_id}/messages/{message_id}":{"get":{"summary":"Get chat message","description":"Get chat message by its identifier.","operationId":"get_chat_message","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"chat_session_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Session Id"}},{"name":"message_id","in":"path","required":true,"schema":{"type":"string","title":"Message Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ChatMessageUserSchema"},{"$ref":"#/components/schemas/ChatMessageBotSchema"}],"title":"Response Get Chat Message"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model chat session not found":{"summary":"Knowledge model chat session specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat session not found","error_code":190002}}},"Knowledge model chat message not found":{"summary":"Knowledge model chat message specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat message not found","error_code":190003}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chat-sessions/{chat_session_id}/messages/{message_id}/feedback":{"post":{"summary":"Set feedback on bot message","description":"Set feedback on bot message","operationId":"patch_chat_message","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"chat_session_id","in":"path","required":true,"schema":{"type":"string","title":"Chat Session Id"}},{"name":"message_id","in":"path","required":true,"schema":{"type":"string","title":"Message Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MessageFeedback"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageBotSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model chat session not found":{"summary":"Knowledge model chat session specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat session not found","error_code":190002}}},"Knowledge model chat message not found":{"summary":"Knowledge model chat message specified in request does not exist.","value":{"details":{"msg":"Knowledge model chat message not found","error_code":190003}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/files":{"get":{"summary":"List files of the knowledge model","description":"List files of the knowledge model","operationId":"kmapi_get_file_metadata","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KMFileMetadataListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"summary":"Upload a file to the knowledge model","description":"Upload a file to the knowledge model via multipart upload","operationId":"kmapi_upload_file_to_knowledge_model","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/Body_kmapi_upload_file_to_knowledge_model"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KMFileMetadataSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/files/{file_id}":{"get":{"summary":"Download a file from a knowledge model","description":"Download a file from a knowledge model by file identifier","operationId":"kmapi_download_file_from_knowledge_model","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"file_id","in":"path","required":true,"schema":{"type":"string","title":"File Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model file not found":{"summary":"Knowledge model file specified in request does not exist.","value":{"details":{"msg":"Knowledge model file not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"summary":"Delete a file from a knowledge model","description":"Schedules file removal from a knowledge model","operationId":"kmapi_delete_file_from_knowledge_model","parameters":[{"name":"file_id","in":"path","required":true,"schema":{"type":"string","title":"File Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"204":{"description":"Successful Response"},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model file not found":{"summary":"Knowledge model file specified in request does not exist.","value":{"details":{"msg":"Knowledge model file not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/files/{file_id}/metadata":{"get":{"summary":"Returns metadata of the file","description":"Returns metadata of the file","operationId":"kmapi_get_file_metadata","parameters":[{"name":"file_id","in":"path","required":true,"schema":{"type":"string","title":"File Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KMFileMetadataSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model file not found":{"summary":"Knowledge model file specified in request does not exist.","value":{"details":{"msg":"Knowledge model file not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"summary":"Update metadata of the file","description":"Update metadata of the file","operationId":"kmapi_patch_file_metadata","parameters":[{"name":"file_id","in":"path","required":true,"schema":{"type":"string","title":"File Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FileMetadataParameter"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KMFileMetadataSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Knowledge model file not found":{"summary":"Knowledge model file specified in request does not exist.","value":{"details":{"msg":"Knowledge model file not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/internal-documents":{"post":{"summary":"Create new internal document","description":"Create new internal document and return it. Only model owner can manage internal documents.","operationId":"create_internal_document","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalDocumentCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalDocumentSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"summary":"List internal documents","description":"List all internal documents for the knowledge model. Only model owner can access internal documents.","operationId":"list_internal_documents","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalDocumentListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/internal-documents/{document_id}":{"get":{"summary":"Get internal document","description":"Get internal document by ID. Only model owner can access internal documents.","operationId":"get_internal_document","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalDocumentSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"summary":"Update internal document","description":"Update internal document by ID. Only model owner can manage internal documents.","operationId":"patch_internal_document","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalDocumentPatch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalDocumentSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"summary":"Delete internal document","description":"Delete internal document by ID. Only model owner can manage internal documents.","operationId":"delete_internal_document","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/internal-documents/{document_id}/chunks":{"post":{"summary":"Create new internal chunk","description":"Create new internal chunk for a internal document and return it. Only model owner can manage internal documents and chunks.","operationId":"create_internal_chunk","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalChunkCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunkSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"get":{"summary":"List internal chunks","description":"List all internal chunks for a internal document. Only model owner can access internal documents and chunks.","operationId":"list_internal_chunks","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/app__api__responses__chunk__ChunkListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/internal-documents/{document_id}/chunks/batch":{"post":{"summary":"Batch create internal chunks","description":"Create multiple internal chunks at once. Only model owner can manage internal documents and chunks.","operationId":"create_batch_internal_chunks","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalChunkBatchCreate"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/app__api__responses__chunk__ChunkListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/internal-documents/{document_id}/chunks/{chunk_id}":{"get":{"summary":"Get internal chunk","description":"Get internal chunk by ID. Only model owner can manage internal documents and chunks.","operationId":"get_internal_chunk_endpoint","parameters":[{"name":"chunk_id","in":"path","required":true,"schema":{"type":"string","title":"Chunk Id"}},{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunkSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}},"Chunk not found":{"summary":"Chunk specified in request does not exist.","value":{"details":{"msg":"Chunk not found","error_code":190015}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"summary":"Update internal chunk","description":"Update internal chunk by ID. Only model owner can manage internal documents and chunks.","operationId":"patch_internal_chunk","parameters":[{"name":"chunk_id","in":"path","required":true,"schema":{"type":"string","title":"Chunk Id"}},{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalChunkPatch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunkSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}},"Chunk not found":{"summary":"Chunk specified in request does not exist.","value":{"details":{"msg":"Chunk not found","error_code":190015}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"summary":"Delete internal chunk","description":"Delete internal chunk by ID. Only model owner can manage internal documents and chunks.","operationId":"delete_internal_chunk","parameters":[{"name":"chunk_id","in":"path","required":true,"schema":{"type":"string","title":"Chunk Id"}},{"name":"document_id","in":"path","required":true,"schema":{"type":"string","title":"Document Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Internal document not found":{"summary":"Internal document specified in request does not exist.","value":{"details":{"msg":"Internal document not found","error_code":190006}}},"Chunk not found":{"summary":"Chunk specified in request does not exist.","value":{"details":{"msg":"Chunk not found","error_code":190015}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/widget":{"get":{"summary":"Get the knowledge model widget settings","description":"Get the knowledge model widget settings","operationId":"get_widget","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WidgetSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"summary":"Patch knowledge model widget settings","description":"Update the widget settings for the knowledge model","operationId":"patch_widget","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WidgetPatch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WidgetSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chunks":{"get":{"summary":"List document chunks","description":"List document chunks with filtering options. Returns raw, unprocessed text chunks from the knowledge model.","operationId":"list_chunks","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"document_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Filter by specific document ID","title":"Document Id"},"description":"Filter by specific document ID"},{"name":"document_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DocumentType"},{"type":"null"}],"description":"Filter by document type","title":"Document Type"},"description":"Filter by document type"},{"name":"content_type","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ChunkContentType"},{"type":"null"}],"description":"Filter by chunk content type","title":"Content Type"},"description":"Filter by chunk content type"},{"name":"sort","in":"query","required":false,"schema":{"$ref":"#/components/schemas/SortingOptions","description":"Sort by field, e.g. 'chunk_index'","default":"chunk_index"},"description":"Sort by field, e.g. 'chunk_index'"},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/app__api__responses_kmapi__chunk__ChunkListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chunks/search":{"post":{"summary":"Search for raw text chunks","description":"Returns raw, unprocessed text chunks from the knowledge model based on the embedded query.","operationId":"search_chunks_endpoint","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunkSearchRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChunkSearchResponseSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Error occurred during chunk search":{"summary":"Error occurred during chunk search","value":{"details":{"msg":"Error occurred during chunk search","error_code":190022}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/videos/import":{"post":{"summary":"Add video document into Model","description":"Add video document into Model.","operationId":"video_import","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoImportRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelVideoSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"We couldn't access the video. It may be private, deleted, or the link is incorrect. Please verify and try again":{"summary":"Couldn't access the video file by link.","value":{"details":{"msg":"We couldn't access the video. It may be private, deleted, or the link is incorrect. Please verify and try again","error_code":190018}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/videos":{"get":{"summary":"List videos in the knowledge model","description":"List all video documents in the knowledge model with pagination support.","operationId":"list_videos","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Offset"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":50,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelVideoListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Document is not found":{"summary":"Document specified in request does not exist.","value":{"details":{"msg":"Document is not found","error_code":190016}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/videos/{document_external_id}/transcription":{"get":{"summary":"Get video transcription","description":"Get the transcription for a specific video.","operationId":"get_video_transcription","parameters":[{"name":"document_external_id","in":"path","required":true,"schema":{"type":"string","title":"Document External Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranscriptionResponseSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Document is not found":{"summary":"Document specified in request does not exist.","value":{"details":{"msg":"Document is not found","error_code":190016}}},"Failed to process transcription chunk.":{"summary":"An error occurred while decoding or extracting required fields from a transcription chunk. Possible causes include invalid JSON format, missing keys, or incorrect data types.","value":{"details":{"msg":"Failed to process transcription chunk.","error_code":190020}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/videos/{document_external_id}":{"get":{"summary":"Get video document","description":"Get video file imported to knowledge model","operationId":"get_video_file","parameters":[{"name":"document_external_id","in":"path","required":true,"schema":{"type":"string","title":"Document External Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelVideoSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Document is not found":{"summary":"Document specified in request does not exist.","value":{"details":{"msg":"Document is not found","error_code":190016}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"patch":{"summary":"Patch video document","description":"Patch video file imported to knowledge model","operationId":"patch_video_file","parameters":[{"name":"document_external_id","in":"path","required":true,"schema":{"type":"string","title":"Document External Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelVideoDocumentPatch"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KnowledgeModelVideoSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Document is not found":{"summary":"Document specified in request does not exist.","value":{"details":{"msg":"Document is not found","error_code":190016}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"delete":{"summary":"Delete video document","description":"Delete video document by id.","operationId":"delete_video_document","parameters":[{"name":"document_external_id","in":"path","required":true,"schema":{"type":"string","title":"Document External Id"}},{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"responses":{"204":{"description":"Successful Response"},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"Document is not found":{"summary":"Document specified in request does not exist.","value":{"details":{"msg":"Document is not found","error_code":190016}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chat/completions/{extension}":{"post":{"summary":"Generates text responses based on incoming messages.","description":"This endpoint generates relevant text responses based on the content of incoming messages.","operationId":"create_chat_session_api","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"extension","in":"path","required":true,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Extension"}},{"name":"X-KM-Extension","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Km-Extension"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionParameters"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/CompletionResponseSchema"},{"$ref":"#/components/schemas/CompletionStreamingEvent"},{"$ref":"#/components/schemas/CompletionErrorSchema"}],"title":"Response Create Chat Session Api"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"LLM not found":{"summary":"LLM specified in request does not exist.","value":{"details":{"msg":"LLM not found","error_code":190010}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/chat/completions":{"post":{"summary":"Generates text responses based on incoming messages.","description":"This endpoint generates relevant text responses based on the content of incoming messages.","operationId":"create_chat_session_api","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}},{"name":"extension","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Extension"}},{"name":"X-KM-Extension","in":"header","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"X-Km-Extension"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionParameters"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/CompletionResponseSchema"},{"$ref":"#/components/schemas/CompletionStreamingEvent"},{"$ref":"#/components/schemas/CompletionErrorSchema"}],"title":"Response Create Chat Session Api"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"LLM not found":{"summary":"LLM specified in request does not exist.","value":{"details":{"msg":"LLM not found","error_code":190010}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/knowledge-models/{knowledge_model_id}/tools/translation":{"post":{"summary":"English translation tool.","description":"Translate a list of English texts into the selected language.","operationId":"translation_endpoint","parameters":[{"name":"knowledge_model_id","in":"path","required":true,"schema":{"type":"string","title":"Knowledge Model Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TranslationResponseSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"421":{"description":"Various errors, see examples","content":{"application/json":{"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}},"Invalid parameters":{"summary":"Parameters passed to endpoint are incorrect. Check info for parameter names.","value":{"details":{"msg":"Invalid parameters","error_code":10001}}},"Knowledge model not found":{"summary":"Knowledge model specified in request does not exist.","value":{"details":{"msg":"Knowledge model not found","error_code":190001}}},"LLM not found":{"summary":"LLM specified in request does not exist.","value":{"details":{"msg":"LLM not found","error_code":190010}}},"Error occurred during text translation":{"summary":"Error occurred during text translation","value":{"details":{"msg":"Error occurred during text translation","error_code":190023}}}},"schema":{"$ref":"#/components/schemas/ErrorSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/language_models":{"get":{"summary":"List language models","description":"List language models you can use in chat sessions","operationId":"list_kmapi_language_models","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LlmListSchema"}}}},"401":{"description":"User token is not present in cookies or has incorrect value.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorSchema"},"examples":{"Token is invalid":{"summary":"User token is not present in cookies or has incorrect value.","value":{"details":{"msg":"Token is invalid","error_code":20001}}}}}}},"421":{"description":"User is banned","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorSchema"},"examples":{"User is banned":{"summary":"User is banned","value":{"details":{"msg":"User is banned","error_code":20002}}}}}}}}}}},"components":{"schemas":{"Body_kmapi_upload_file_to_knowledge_model":{"properties":{"folder":{"type":"string","title":"Folder","default":""},"file":{"type":"string","format":"binary","title":"File"}},"type":"object","required":["file"],"title":"Body_kmapi_upload_file_to_knowledge_model"},"ChatExtension":{"type":"string","enum":["explorer","optative_rag","conference_assistant","food_safety_assistant","digital_twin","direct_llm","compliance_assistant","pandasai","career_adviser","extended_rag"],"title":"ChatExtension"},"ChatMessageBotContentText":{"properties":{"type":{"type":"string","title":"Type","default":"text"},"text":{"type":"string","title":"Text"},"references":{"items":{"$ref":"#/components/schemas/MessageReference"},"type":"array","title":"References"},"documents":{"items":{"$ref":"#/components/schemas/MessageDocument"},"type":"array","title":"Documents"},"links":{"items":{"$ref":"#/components/schemas/MessageLink"},"type":"array","title":"Links"}},"additionalProperties":false,"type":"object","required":["text","references","documents","links"],"title":"ChatMessageBotContentText"},"ChatMessageBotSchema":{"properties":{"id":{"type":"string","title":"Id"},"type":{"type":"string","title":"Type","default":"ai_message"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"included_documents":{"items":{"$ref":"#/components/schemas/ChatSessionDocumentSchema"},"type":"array","title":"Included Documents"},"mode":{"$ref":"#/components/schemas/ChatMessageMode","default":"model"},"status":{"$ref":"#/components/schemas/ChatMessageBotStatus"},"like_status":{"$ref":"#/components/schemas/LikeStatus"},"quick_replies":{"items":{"type":"string"},"type":"array","title":"Quick Replies"},"content":{"$ref":"#/components/schemas/ChatMessageBotContentText"},"llm_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Llm Id"}},"additionalProperties":false,"type":"object","required":["id","created_at","status","like_status","content"],"title":"ChatMessageBotSchema"},"ChatMessageBotStatus":{"properties":{"name":{"$ref":"#/components/schemas/MessageStatus"},"message":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Message"}},"additionalProperties":false,"type":"object","required":["name","message"],"title":"ChatMessageBotStatus"},"ChatMessageCreate":{"properties":{"text":{"type":"string","title":"Text","description":"The message text","examples":["Hello, can you count giraffes in Africa?","What do you know about penguins?","What can you say about material science top research fields?"]},"mode":{"$ref":"#/components/schemas/ChatMessageMode","description":"Chat mode","default":"model","examples":["model","direct","blended"]}},"additionalProperties":false,"type":"object","required":["text"],"title":"ChatMessageCreate"},"ChatMessageListSchema":{"properties":{"results":{"items":{"anyOf":[{"$ref":"#/components/schemas/ChatMessageUserSchema"},{"$ref":"#/components/schemas/ChatMessageBotSchema"}]},"type":"array","title":"Results"},"total":{"type":"integer","title":"Total","description":"Total count of available records. It can be larger than results count."}},"additionalProperties":false,"type":"object","required":["results","total"],"title":"ChatMessageListSchema"},"ChatMessageMode":{"type":"string","enum":["model","direct","blended"],"title":"ChatMessageMode"},"ChatMessagePatch":{"properties":{"extension":{"anyOf":[{"$ref":"#/components/schemas/ChatExtension"},{"type":"null"}],"description":"Chat extension mode","examples":["explorer","optative_rag","conference_assistant"]},"included_document_ids":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Included Document Ids","description":"Subset of document identifiers used for information retrieval","examples":[["d38c668961ad42aeb3761a8db658e08e","1745f472371d4f17b89e6f111e3c5a2a","87b6179e11bd4fefb1baf50ab0a6c55d"],["06226d40202c44df81ee8529dc1d458b","a4dad8d4c8144599a94f4341c21ff0cd"]]},"llm_id":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"title":"Llm Id","description":"Language model identifier","examples":["9d38cf09f0ff4fe8ab7b2e714adb55b2"]},"mode":{"anyOf":[{"$ref":"#/components/schemas/ChatMessageMode"},{"type":"null"}],"description":"Chat mode","examples":["model","direct","blended"]}},"additionalProperties":false,"type":"object","title":"ChatMessagePatch"},"ChatMessageUserSchema":{"properties":{"id":{"type":"string","title":"Id"},"type":{"type":"string","title":"Type","default":"user_message"},"created_at":{"type":"string","format":"date-time","title":"Created At"},"included_documents":{"items":{"$ref":"#/components/schemas/ChatSessionDocumentSchema"},"type":"array","title":"Included Documents"},"mode":{"$ref":"#/components/schemas/ChatMessageMode","default":"model"},"text":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Text"}},"additionalProperties":false,"type":"object","required":["id","created_at","text"],"title":"ChatMessageUserSchema"},"ChatSessionCreateAPI":{"properties":{"llm_id":{"anyOf":[{"type":"string","maxLength":32},{"type":"null"}],"title":"Llm Id","description":"Language model identifier","examples":["9d38cf09f0ff4fe8ab7b2e714adb55b2","gpt-4o-mini","some-llm-id"]},"mode":{"$ref":"#/components/schemas/ChatMessageMode","description":"Chat mode","default":"model","examples":["model","direct","blended"]}},"additionalProperties":false,"type":"object","title":"ChatSessionCreateAPI"},"ChatSessionDocumentSchema":{"properties":{"id":{"type":"string","title":"Id"},"filename":{"type":"string","title":"Filename"},"chat_session_id":{"type":"string","title":"Chat Session Id"},"updated_at":{"type":"string","format":"date-time","title":"Updated At"},"deleted":{"type":"boolean","title":"Deleted","default":false}},"additionalProperties":false,"type":"object","required":["id","filename","chat_session_id","updated_at"],"title":"ChatSessionDocumentSchema"},"ChatSessionListSchema":{"properties":{"results":{"items":{"$ref":"#/components/schemas/ChatSessionSchema"},"type":"array","title":"Results"},"total":{"type":"integer","title":"Total","description":"Total count of available records. It can be larger than results count."}},"additionalProperties":false,"type":"object","required":["results","total"],"title":"ChatSessionListSchema"},"ChatSessionSchema":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"knowledge_model_id":{"type":"string","title":"Knowledge Model Id"},"llm_id":{"type":"string","title":"Llm Id"},"extension":{"anyOf":[{"$ref":"#/components/schemas/ChatExtension"},{"type":"null"}]},"included_documents":{"items":{"$ref":"#/components/schemas/ChatSessionDocumentSchema"},"type":"array","title":"Included Documents"},"session_origin":{"$ref":"#/components/schemas/SessionOrigin"},"mode":{"$ref":"#/components/schemas/ChatMessageMode","default":"model"}},"additionalProperties":false,"type":"object","required":["id","name","knowledge_model_id","llm_id","extension","session_origin"],"title":"ChatSessionSchema"},"ChunkContentType":{"type":"string","enum":["text","json","table","image","transcript"],"title":"ChunkContentType"},"ChunkResult":{"properties":{"id":{"type":"string","title":"Id","description":"ID of the chunk"},"document_id":{"type":"string","title":"Document Id","description":"ID of the document this chunk belongs to"},"text":{"type":"string","title":"Text","description":"Full, unaltered chunk content"},"content_type":{"$ref":"#/components/schemas/ChunkContentType","description":"Content type of the chunk"},"document_page":{"type":"integer","title":"Document Page","description":"Page number in the document"},"chunk_index":{"type":"integer","title":"Chunk Index","description":"Index of the chunk in the document"}},"additionalProperties":false,"type":"object","required":["id","document_id","text","content_type","document_page","chunk_index"],"title":"ChunkResult"},"ChunkSchema":{"properties":{"id":{"type":"string","title":"Id","description":"External ID of the chunk"},"content_type":{"$ref":"#/components/schemas/ChunkContentType","description":"Content type of the chunk"},"content_source":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content Source","description":"Source of the content"},"document_chunk_index":{"type":"integer","title":"Document Chunk Index","description":"Chunk index in the document part"},"text":{"type":"string","title":"Text","description":"Text content of the chunk"},"embedding_key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Embedding Key","description":"Text content of the chunk which will be used for embedding"},"priority":{"type":"integer","title":"Priority","description":"Priority of the chunk","default":1},"embedding":{"type":"boolean","title":"Embedding","description":"Whether the chunk has embedding","default":false}},"additionalProperties":false,"type":"object","required":["id","content_type","document_chunk_index","text"],"title":"ChunkSchema"},"ChunkSearchRequest":{"properties":{"query":{"type":"string","title":"Query","description":"The search query"},"top_k":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Top K","description":"Maximum number of chunks to retrieve","default":10},"included_document_ids":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Included Document Ids","description":"List of document IDs to include in the search"}},"additionalProperties":false,"type":"object","required":["query"],"title":"ChunkSearchRequest"},"ChunkSearchResponseSchema":{"properties":{"results":{"items":{"$ref":"#/components/schemas/ChunkSearchResult"},"type":"array","title":"Results"},"total":{"type":"integer","title":"Total","description":"Total count of available records. It can be larger than results count."}},"additionalProperties":false,"type":"object","required":["results","total"],"title":"ChunkSearchResponseSchema"},"ChunkSearchResult":{"properties":{"id":{"type":"string","title":"Id","description":"ID of the chunk"},"document_id":{"type":"string","title":"Document Id","description":"ID of the document"},"text":{"type":"string","title":"Text","description":"Full, unaltered chunk content"},"content_type":{"$ref":"#/components/schemas/ChunkContentType","description":"Content type of the chunk"},"document_page":{"type":"integer","title":"Document Page","description":"Page number in the document"},"chunk_index":{"type":"integer","title":"Chunk Index","description":"Index of the chunk in the document"},"similarity_score":{"type":"number","title":"Similarity Score","description":"Similarity score between the query and chunk"}},"additionalProperties":false,"type":"object","required":["id","document_id","text","content_type","document_page","chunk_index","similarity_score"],"title":"ChunkSearchResult"},"CitationFile":{"properties":{"type":{"type":"string","const":"file_citation","title":"Type","default":"file_citation"},"start_index":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Start Index"},"end_index":{"type":"integer","title":"End Index"},"text_quote":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Text Quote","default":""},"file_id":{"type":"string","title":"File Id"},"filename":{"type":"string","title":"Filename"}},"type":"object","required":["end_index","file_id","filename"],"title":"CitationFile"},"CitationUrl":{"properties":{"type":{"type":"string","const":"url_citation","title":"Type","default":"url_citation"},"start_index":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Start Index"},"end_index":{"type":"integer","title":"End Index"},"text_quote":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Text Quote","default":""},"url":{"type":"string","title":"Url"},"title":{"type":"string","title":"Title"}},"type":"object","required":["end_index","url","title"],"title":"CitationUrl"},"CompletionChoiceContent":{"properties":{"content":{"type":"string","title":"Content","description":"The content of the current chunk."},"role":{"type":"string","title":"Role","description":"The role of the message sender, typically 'assistant'.","default":"assistant"},"additional_kwargs":{"$ref":"#/components/schemas/CompletionKwargs","description":"Additional arguments with citations"}},"additionalProperties":false,"type":"object","required":["content","additional_kwargs"],"title":"CompletionChoiceContent"},"CompletionChoiceMessage":{"properties":{"role":{"type":"string","title":"Role","description":"The role of the message sender, typically 'assistant'.","default":"assistant"},"content":{"type":"string","title":"Content","description":"The content of the message."},"tool_calls":{"type":"null","title":"Tool Calls","description":"This field is currently always None, but may be changed later."},"additional_kwargs":{"$ref":"#/components/schemas/CompletionKwargs","description":"Additional arguments with citations"}},"additionalProperties":false,"type":"object","required":["content","additional_kwargs"],"title":"CompletionChoiceMessage"},"CompletionErrorDetailSchema":{"properties":{"code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Code","description":"The error code indicating the type of error."},"message":{"type":"string","title":"Message","description":"A detailed message describing the error."},"type":{"$ref":"#/components/
[...]
